# directory used by NetBeans IDE
nbproject

#directory created by doxygen
docs/html

# configfiles created by the user
system/application/config/database.php
system/application/config/email.php
system/application/config/tmw_config.user.php

# logfiles created by tmwweb
system/logs/log-*.php

# cache created by tmwweb
data/maps.php.db
data/skills.php.db

# directories used from tmwserv and tmw 
tmwdata
tmwserv-data

