.DHTMLSuite_validInput{
	border:1px solid green;
}
.DHTMLSuite_invalidInput{
	border:1px solid red;
}

.DHTMLSuite_validInput,.DHTMLSuite_invalidInput{
	padding:1px;
	margin:0px;
}
.DHTMLSuite_validInput select{
	margin:0px;
	padding:0px;
}